<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="PrtSc"
      Language="1033"
      Version="$(var.ProductVersion)"
      Manufacturer="PrtSc"
      UpgradeCode="5AE96A1D-4644-40D2-90FA-E6E4EED7D147"
      Scope="perUser">
    <SummaryInformation Description="PrtSc screenshot tool" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of PrtSc is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="PrtScIcon" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch PrtSc" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\installer\assets\banner-blank-8bit.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\installer\assets\dialog-blank-8bit.bmp" />

    <CustomAction
        Id="LaunchPrtSc"
        ExeCommand=""
        Execute="immediate"
        Impersonate="yes"
        Return="asyncNoWait"
        FileRef="PrtScExe" />

    <Icon Id="PrtScIcon" SourceFile="$(var.ProjectDir)\assets\app-icon\PrtSc.ico" />

    <Feature Id="MainFeature" Title="PrtSc" Level="1">
      <ComponentRef Id="PrtScExeComponent" />
      <ComponentRef Id="PrtScOcrComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>

    <Feature Id="StartupFeature" Title="Run PrtSc at startup" Level="2">
      <ComponentRef Id="StartupComponent" />
    </Feature>

    <UIRef Id="PrtScUI_InstallDir" />

    <SetProperty
        Id="ADDLOCAL"
        Value="MainFeature,StartupFeature"
        Before="CostFinalize"
        Sequence="both"
        Condition="PRTSC_STARTUP = &quot;1&quot;" />

    <InstallExecuteSequence>
      <Custom Action="LaunchPrtSc" After="InstallFinalize" Condition="LAUNCH_PRTSC = &quot;1&quot;" />
    </InstallExecuteSequence>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="LocalProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="PrtSc">
          <Component Id="PrtScExeComponent" Guid="B89310D0-9015-48AF-86F6-5AB8B1E292DA" Bitness="always64">
            <File Id="PrtScExe" Source="$(var.SourceDir)\PrtSc.exe" />
            <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
            <RemoveFolder Id="RemoveLocalProgramsFolder" Directory="LocalProgramsFolder" On="uninstall" />
            <RegistryValue
                Root="HKCU"
                Key="Software\PrtSc"
                Name="InstalledExe"
                Type="integer"
                Value="1"
                KeyPath="yes" />
          </Component>

          <Component Id="PrtScOcrComponent" Guid="6476C692-B58E-429E-ACD7-BB21BE62097C" Bitness="always64">
            <File Id="PrtScOcrDll" Source="$(var.SourceDir)\PrtScOcr.dll" />
            <RegistryValue
                Root="HKCU"
                Key="Software\PrtSc"
                Name="InstalledOcr"
                Type="integer"
                Value="1"
                KeyPath="yes" />
          </Component>

          <Component Id="StartupComponent" Guid="F2D6E237-E79F-43B1-ABE9-FC4B27BAC938" Bitness="always64">
            <RegistryValue
                Root="HKCU"
                Key="Software\Microsoft\Windows\CurrentVersion\Run"
                Name="PrtSc"
                Type="string"
                Value="&quot;[INSTALLFOLDER]PrtSc.exe&quot;"
                KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="PrtSc">
        <Component Id="StartMenuShortcutComponent" Guid="CF0C2E11-C9DA-4B76-94B2-9D15F7FEB568" Bitness="always64">
          <Shortcut
              Id="ApplicationStartMenuShortcut"
              Name="PrtSc"
              Description="Launch PrtSc"
              Target="[INSTALLFOLDER]PrtSc.exe"
              WorkingDirectory="INSTALLFOLDER"
              Icon="PrtScIcon" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
          <RegistryValue
              Root="HKCU"
              Key="Software\PrtSc"
              Name="StartMenuShortcut"
              Type="integer"
              Value="1"
              KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
  </Package>

  <Fragment>
    <UI Id="PrtScUI_InstallDir">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Dialog Id="StartupOptionsDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="300" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Startup Options" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="320" Height="15" Transparent="yes" NoPrefix="yes" Text="Choose how PrtSc starts." />
        <Control Id="TopLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <Control Id="BodyText" Type="Text" X="20" Y="70" Width="330" Height="30" Text="PrtSc can launch automatically when Windows starts." />
        <Control Id="StartupCheckBox" Type="CheckBox" X="20" Y="110" Width="330" Height="17" Property="PRTSC_STARTUP" CheckBoxValue="1" Text="Run PrtSc at startup" />

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="3" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchPrtSc" Order="1" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Condition="NOT Installed" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="2" Condition="NOT WIXUI_DONTVALIDATEPATH" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="StartupOptionsDlg" Order="4" Condition="WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />

      <Publish Dialog="StartupOptionsDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" />
      <Publish Dialog="StartupOptionsDlg" Control="Next" Event="AddLocal" Value="StartupFeature" Order="1" Condition="PRTSC_STARTUP = &quot;1&quot;" />
      <Publish Dialog="StartupOptionsDlg" Control="Next" Event="Remove" Value="StartupFeature" Order="2" Condition="PRTSC_STARTUP &lt;&gt; &quot;1&quot;" />
      <Publish Dialog="StartupOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="StartupOptionsDlg" Order="1" Condition="NOT Installed" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="Installed AND PATCH" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
